:root {
  --orangeColor: rgb(240, 147, 93);
  --purpleColor: #753467;
  --skyBlue:#89e7f8;
  --whiteColor:#f3f3f3;
  --greenColor:#86c238;
  --blackColor:#323232;
  --redColor: #b6210d;
  --pinkColor: rgb(250, 237, 234);
  --blueColor: #3345b1;
}


a{
  text-decoration: none;
  color: #68027c;
}

/* CSS Navbar */
#navbarConfig {
  background-color: rgba(78, 78, 78, 0.6);
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.32s ease-in;
}


.nav-link{
  color: var(--whiteColor);
  text-decoration: none
}
.nav-link:hover{
  color: var(--purpleColor);
}

.navbar.scrolled {
  padding: 0.3rem 0;
  background-color: transparent;
  transition: 0.32s ease-in-out;
  background-color: var(--orangeColor) !important;
}

.bi-linkedin:hover {
  width: 28px;
  height: 28px;
  animation: tada;
  animation-duration: 1.5s;
  color: var(--purpleColor);
}

.bi-github:hover {
  width: 30px;
  height: 30px;
  animation: tada;
  animation-duration: 1.5s;
  color: var(--purpleColor);
}




/* CSS header */
.banner {
  margin-top: 0;
  padding: 5rem 0 2rem 0;
  background-image: url('./assets/img/header.png');
  background-position:  center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photoHeader {
  width:15rem;
  height: 15rem;
}

.headerBackground {
  background: rgba(233, 233, 233, 0.8);
  margin: auto;
}
.tagline {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--blackColor);
  text-align: start;
}
.headerSubtext{
  font-weight: 550;
  color: var(--blackColor);
}

/* CSS Footer */

#footer {
  background-color: var(--orangeColor);
}
.footerText{
  font-size: 1.3rem;
}

/* CSS Skills */



.animatedIconBootstrap:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #701ddd !important;
}

.animatedIconHTML:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #df6b0c;
}

.animatedIconCSS:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #2e6aec;
}

.animatedIconReact:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #27bce9;
}

.animatedIconJavascript:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #f1df39;
}

.animatedIconReactB:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #27bce9;
}

.animatedIconWordpress:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #0691e2;
}

.animatedIconAxios:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #68027c;
}

.animatedIconNode:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #82ca47;
}

.animatedIconExpress:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #afafaf;
}
.animatedIconJest:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #d84a31;
}

.animatedIconPostgreSQL:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #4770c7;
}

.animatedIconMicrosoft:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #e95d0b;
}

.animatedIconPhotoshop:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #311b92;
}

.animatedIconGit:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #ec5813;
}
.animatedIconGithub:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #7d18f0;
}

.animatedIconFigma:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #50db8a;
}


.iconTextTech{
  font-size: 1.5rem;
  text-align: justify;
}

/* CSS Languages */

.langText {
  text-align: center;
  font-size: 1.5rem;
}

.spanishProg .progress-bar.progress-bar-striped.progress-bar-animated{
  background-color: var(--greenColor);
}

.englishProg .progress-bar.progress-bar-striped.progress-bar-animated{
  background-color: var(--orangeColor);
}

.japaneseProg .progress-bar.progress-bar-striped.progress-bar-animated{
  background-color: var(--skyBlue);
}

/* CSS experience */

#expCard img{
  width: 10rem;
  height: 10rem;
  border-radius: 5%;
}

#expCard {
  position : relative;
}

#expCard .card {
  position: relative;
  border: white 1px;
  transition : 0.3s ease-in-out;
}

#expCard .card:hover {
  top : -10%;
  height : 20rem;    
}

#expCard .card .logoContent {
  position : relative;
  top : -10%;
  z-index : 1;

  background-color: white;
  border: var(--orangeColor) 1px solid;
}

#expCard .card .content {
  position : relative;
  top : -140px;
  color : #2b2b2b;

  font-size: 1.1rem;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

#expCard  .card:hover .content {
   margin-top : 4rem;
   padding-top: 4rem;
   left: +50px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
   background-color : var(--pinkColor);
   border: none;
   box-shadow: 0 0.3rem 2rem rgba(240, 147, 93, 0.5)
}

/* CSS portfolio */

#portCard .postcard{
  background-color: var(--pinkColor);
  box-shadow:0 0.3rem 2rem rgba(160, 146, 142, 0.5) ;
  border: none;
  border-radius: 5%;
  height: fit-content;
  width: fit-content;
}

#portCard .postcard .portImg{
  width:100%;
  height: 100%;
  border-radius: 5%;
  
  min-width:100%;
  max-width:min-content;
  height: 20rem;
  transition: ease-in 0.2s;
  object-fit: cover;
  object-position: 19.5% 52%;
}

#portCard .postcard:hover .portImg{
  transform: scale(1.2);
  transition: ease-in-out 0.2s;

}


.portTitle {
  font-size: 1.4rem;
  color:var(--purpleColor);
  font-weight: 600;

}

.portDate {
  font-size: 1rem;
  font-weight: 600;
  color: var(--blackColor);
  
}
.bar{
  width: 5rem;
  height: 0.5rem;
  background-color: var(--purpleColor);
  transition: width 0.2s ease;
}

#portCard .postcard:hover .bar{
  width: 10rem;
}

.portText{
  font-size: 1rem;
  font-weight: 400;
}

.list-group-item.portListLink{
  width: 13rem;
  background-color: var(--whiteColor);
  border:none;
  font-size: 0.8rem;
  font-weight: 600;
}
.list-group-item.portListAuthor{
  width: 11rem;
  background-color: #9c608f;
  color: var(--whiteColor);
  font-weight: 600;
  border: none;
  font-size: 0.8rem;
}

.portListLink.list-group-item:hover{
   width: 13rem;
  background-color: var(--greenColor);
  color: var(--whiteColor);
}

.portListLink.list-group-item:hover a{
  color: var(--whiteColor);
  font-weight: 700;
}


.activeLinkText{
  font-weight: 700;

}
.portListDetail{
  text-align: left;
}

#portCard .btn-info{
  background-color: var(--skyBlue);
  border-color: var(--skyBlue);
  color: var(--blackColor);
  font-weight: 600;

}
#portCard .btn-info:hover{
  background-color: var(--greenColor);
  border-color: var(--greenColor);
  color: var(--whiteColor);
  font-weight: 600;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  background-color: var(--greenColor);
  box-shadow: 0 0 0.5rem var(--greenColor);
  font-weight: 600;
  font-size: 0.9rem;
  opacity: 1 !important;
}