:root {
  --orangeColor: #f0935d;
  --purpleColor: #6e0858;
  --skyBlue:#9BE8F5;
  --whiteColor:#f3f3f3;
  --greenColor:#155222;
  --blackColor:#323232;
}


/* CSS Navbar */
#navbarConfig {
  background-color: rgba(78, 78, 78, 0.6);
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.32s ease-in;
}


.nav-link{
  color: var(--whiteColor);
  text-decoration: none
}
.nav-link:hover{
  color: var(--purpleColor);
}

.navbar.scrolled {
  padding: 0.3rem 0;
  background-color: transparent;
  transition: 0.32s ease-in-out;
  background-color: var(--orangeColor) !important;
}

.bi-linkedin:hover {
  width: 28px;
  height: 28px;
  animation: tada;
  animation-duration: 1.5s;
  color: var(--purpleColor);
}

.bi-github:hover {
  width: 30px;
  height: 30px;
  animation: tada;
  animation-duration: 1.5s;
  color: var(--purpleColor);
}




/* CSS header */
.banner {
  margin-top: 0;
  padding: 5rem 0 2rem 0;
  background-image: url('./assets/img/header.png');
  background-position:  center;
  background-size: cover;
  background-repeat: no-repeat;
}

.photoHeader {
  width:15rem;
  height: 15rem;
}

.headerBackground {
  background: rgba(233, 233, 233, 0.8);
  margin: auto;
}
.tagline {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--blackColor);
  text-align: start;
}
.headerSubtext{
  font-weight: 550;
  color: var(--blackColor);
}

/* CSS Footer */

#footer {
  background-color: var(--orangeColor);
}
.footerText{
  font-size: 1.3rem;
}

/* CSS Skills */



.animatedIconBootstrap:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #701ddd;
}

.animatedIconHTML:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #df6b0c;
}

.animatedIconCSS:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #2e6aec;
}

.animatedIconReact:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #27bce9;
}

.animatedIconJavascript:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #f1df39;
}

.animatedIconReactB:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #27bce9;
}

.animatedIconWordpress:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #0691e2;
}

.animatedIconAxios:hover{
  animation: flash;
  animation-duration: 1.5s;
  color: #68027c;
}

.iconTextTech{
  font-size: 1.5rem;
  text-align: justify;
}